{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
            <title> {{ title }} </title>
        {% else %}
            <title>Software Cloud Library </title>
        {% endif %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" >
        </script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1> Software Cloud Library </h1>
                <p>Use Software Without Any Installation</p>
            </div>
            {% for software_package_list in all_software %}
                <div class="row">
                    {% for software_package in software_package_list %}
                        <div class="col-sm-4">
                            <div class="card" style="width: 20rem;">
                                <img class="card-img-top" src="{% static 'rdp/images/'|add:software_package.name|add:'.png' %}" alt="software logo">
                                <div class="card-block">
                                    <h4 class="card-title">{{ software_package.name }}</h4>
                                    <p class="card-text">{{ software_package.description }}</p>
                                    <a href="{% url 'download' software_package.name %}"> Download </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm-12 text-center">&copy; Team Apex 2017</div>
            </div>
        </div>
    </body>
</html>
