<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
            <title> {{ title }} </title>
        {% else %}
            <title>Software Cloud Library </title>
        {% endif %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" >
        </script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <h1> Software Cloud Library </h1>
            <hr/>
            <p> Browse through the software packages available here and use them without any installation by entering
                the username and password given to you at the time of registeration. </p>
            <hr/>
            <ul>
                {% for software_package in all_software %}
                    <li><a href="{% url 'download' software_package.name %}"> {{ software_package.name }} </a></li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
